.form-container {
    margin: 50px auto;
    padding: 24px;
    width: 408px;
    height: 296px;
    border-radius: 8px;
    border: 1px solid black;
    box-sizing: border-box;

}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 360px;
}

.form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.04em;
    color: #2e2f42;
    }

.form-input {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.btn-submit {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background-color: #4e75ff;
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}